@if $animate-card == "true" {
  .card-banner {
    .animation-content {
      position: relative;
      animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
    }
    @keyframes animatop {
      0% {
        opacity: 0;
        bottom: -500px;
      }
      100% {
        opacity: 1;
        bottom: 0px;
      }
    }
  }
}
